<a href="https://colab.research.google.com/github/thisisZAQ/Indian-Schools-Analysis/blob/main/Indian_Schools_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [6]:

# Load the datasets
dropout_ratio_path = '/content/drive/MyDrive/Indian School Analysis/Drprtio.csv'
enrollment_ratio_path = '/content/drive/MyDrive/Indian School Analysis/gross-enrollment-ratio-2013-2016.csv'

# Read the files
dropout_ratio = pd.read_csv(dropout_ratio_path)
enrollment_ratio = pd.read_csv(enrollment_ratio_path)

# Display the first few rows of both datasets
dropout_ratio.head(), enrollment_ratio.head()

dropout_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State_UT             110 non-null    object
 1   year                 110 non-null    object
 2   Primary_Boys         110 non-null    object
 3   Primary_Girls        110 non-null    object
 4   Primary_Total        110 non-null    object
 5   Upper Primary_Boys   110 non-null    object
 6   Upper Primary_Girls  110 non-null    object
 7   Upper Primary_Total  110 non-null    object
 8   Secondary _Boys      110 non-null    object
 9   Secondary _Girls     110 non-null    object
 10  Secondary _Total     110 non-null    object
 11  HrSecondary_Boys     110 non-null    object
 12  HrSecondary_Girls    110 non-null    object
 13  HrSecondary_Total    110 non-null    object
dtypes: object(14)
memory usage: 12.2+ KB

In [28]:
# Clean and standardize column names for both datasets

# Clean the dropout_ratio dataset
dropout_ratio.columns = dropout_ratio.columns.str.strip().str.replace(' ', '_').str.replace('__', '_')
dropout_ratio.columns = dropout_ratio.columns.str.replace('Secondary_', 'Secondary')
dropout_ratio.columns = dropout_ratio.columns.str.replace('HrSecondary', 'Higher_Secondary')

# Clean the enrollment_ratio dataset
enrollment_ratio.columns = enrollment_ratio.columns.str.strip().str.replace(' ', '_')


# Check for any missing values and data types in both datasets
dropout_info = dropout_ratio.info(), dropout_ratio.isnull().sum()
enrollment_info = enrollment_ratio.info(), enrollment_ratio.isnull().sum()

dropout_info, enrollment_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State_UT               110 non-null    object
 1   year                   110 non-null    object
 2   Primary_Boys           95 non-null     object
 3   Primary_Girls          95 non-null     object
 4   Primary_Total          93 non-null     object
 5   Upper_Primary_Boys     94 non-null     object
 6   Upper_Primary_Girls    102 non-null    object
 7   Upper_Primary_Total    101 non-null    object
 8   SecondaryBoys          106 non-null    object
 9   SecondaryGirls         106 non-null    object
 10  SecondaryTotal         106 non-null    object
 11  Higher_SecondaryBoys   82 non-null     object
 12  Higher_SecondaryGirls  76 non-null     object
 13  Higher_SecondaryTotal  79 non-null     object
dtypes: object(14)
memory usage: 12.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_UT                110 non-null    object
 1   Year                    110 non-null    object
 2   Primary_Boys            110 non-null    float64
 3   Primary_Girls           110 non-null    float64
 4   Primary_Total           110 non-null    float64
 5   Upper_Primary_Boys      110 non-null    float64
 6   Upper_Primary_Girls     110 non-null    float64
 7   Upper_Primary_Total     110 non-null    float64
 8   Secondary_Boys          110 non-null    float64
 9   Secondary_Girls         110 non-null    float64
 10  Secondary_Total         110 non-null    float64
 11  Higher_Secondary_Boys   110 non-null    object
 12  Higher_Secondary_Girls  110 non-null    object
 13  Higher_Secondary_Total  110 non-null    object
dtypes: float64(9), object(5)
memory usage: 12.2+ KB

((None,
  State_UT                  0
  year                      0
  Primary_Boys             15
  Primary_Girls            15
  Primary_Total            17
  Upper_Primary_Boys       16
  Upper_Primary_Girls       8
  Upper_Primary_Total       9
  SecondaryBoys             4
  SecondaryGirls            4
  SecondaryTotal            4
  Higher_SecondaryBoys     28
  Higher_SecondaryGirls    34
  Higher_SecondaryTotal    31
  dtype: int64),
 (None,
  State_UT                  0
  Year                      0
  Primary_Boys              0
  Primary_Girls             0
  Primary_Total             0
  Upper_Primary_Boys        0
  Upper_Primary_Girls       0
  Upper_Primary_Total       0
  Secondary_Boys            0
  Secondary_Girls           0
  Secondary_Total           0
  Higher_Secondary_Boys     0
  Higher_Secondary_Girls    0
  Higher_Secondary_Total    0
  dtype: int64))

In [25]:
dropout_ratio['State_UT'] = dropout_ratio['State_UT'].str.extract(r'([A-Za-z\s&]+)')
dropout_ratio['year'] = dropout_ratio['year'].str.extract(r'(\d{4}-\d{2})')
dropout_ratio['State_UT']= dropout_ratio['State_UT'].apply(str)

# Replace 'NR' or any non-numeric values with NaN
dropout_ratio.replace('NR', pd.NA, inplace=True)

In [26]:
dropout_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State_UT             110 non-null    object
 1   year                 110 non-null    object
 2   Primary_Boys         95 non-null     object
 3   Primary_Girls        95 non-null     object
 4   Primary_Total        93 non-null     object
 5   Upper Primary_Boys   94 non-null     object
 6   Upper Primary_Girls  102 non-null    object
 7   Upper Primary_Total  101 non-null    object
 8   Secondary _Boys      106 non-null    object
 9   Secondary _Girls     106 non-null    object
 10  Secondary _Total     106 non-null    object
 11  HrSecondary_Boys     82 non-null     object
 12  HrSecondary_Girls    76 non-null     object
 13  HrSecondary_Total    79 non-null     object
dtypes: object(14)
memory usage: 12.2+ KB

In [29]:
# Convert the numeric columns in the dropout dataset
dropout_numeric_cols = [
    'Primary_Boys', 'Primary_Girls', 'Primary_Total',
    'Upper_Primary_Boys', 'Upper_Primary_Girls', 'Upper_Primary_Total',
    'SecondaryBoys', 'SecondaryGirls', 'SecondaryTotal',
    'Higher_SecondaryBoys', 'Higher_SecondaryGirls', 'Higher_SecondaryTotal'
]

# Attempt to convert these columns to numeric, forcing errors into NaN
dropout_ratio[dropout_numeric_cols] = dropout_ratio[dropout_numeric_cols].apply(pd.to_numeric, errors='coerce')

# Check for non-numeric values in the enrollment dataset's higher secondary columns
enrollment_higher_secondary_cols = ['Higher_Secondary_Boys', 'Higher_Secondary_Girls', 'Higher_Secondary_Total']
enrollment_invalid_values = enrollment_ratio[enrollment_higher_secondary_cols].apply(pd.to_numeric, errors='coerce').isna()

# Summary of invalid entries in higher secondary columns of enrollment dataset
invalid_entries_summary = enrollment_invalid_values.sum()

dropout_ratio.head(), invalid_entries_summary

(         State_UT     year  Primary_Boys  Primary_Girls  Primary_Total  \
 0   A & N Islands  2012-13          0.83           0.51           0.68
 1   A & N Islands  2013-14          1.35           1.06           1.21
 2   A & N Islands  2014-15          0.47           0.55           0.51
 3  Andhra Pradesh  2012-13          3.30           3.05           3.18
 4  Andhra Pradesh  2013-14          4.31           4.39           4.35

    Upper_Primary_Boys  Upper_Primary_Girls  Upper_Primary_Total  \
 0                 NaN                 1.09                 1.23
 1                 NaN                 1.54                 0.51
 2                1.44                 1.95                 1.69
 3                3.21                 3.51                 3.36
 4                3.46                 4.12                 3.78

    SecondaryBoys  SecondaryGirls  SecondaryTotal  Higher_SecondaryBoys  \
 0           5.57            5.55            5.56                 17.66
 1           8.36            5.98            7.20                 18.94
 2          11.47            8.16            9.87                 21.05
 3          12.21           13.25           12.72                  2.66
 4          11.95           13.37           12.65                 12.65

    Higher_SecondaryGirls  Higher_SecondaryTotal
 0                  10.15                  14.14
 1                  12.20                  15.87
 2                  12.21                  16.93
 3                    NaN                   0.35
 4                  10.85                  11.79  ,
 Higher_Secondary_Boys     2
 Higher_Secondary_Girls    2
 Higher_Secondary_Total    2
 dtype: int64)

In [31]:
dropout_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State_UT               110 non-null    object
 1   year                   110 non-null    object
 2   Primary_Boys           95 non-null     float64
 3   Primary_Girls          95 non-null     float64
 4   Primary_Total          93 non-null     float64
 5   Upper_Primary_Boys     93 non-null     float64
 6   Upper_Primary_Girls    102 non-null    float64
 7   Upper_Primary_Total    101 non-null    float64
 8   SecondaryBoys          106 non-null    float64
 9   SecondaryGirls         106 non-null    float64
 10  SecondaryTotal         106 non-null    float64
 11  Higher_SecondaryBoys   82 non-null     float64
 12  Higher_SecondaryGirls  76 non-null     float64
 13  Higher_SecondaryTotal  79 non-null     float64
dtypes: float64(12), object(2)
memory usage: 12.2+ KB